body {
    margin: 0;
 
   

}
.topo {
    text-align: center;
    width: 100%px;
    height: 100px;
    background-color: #3b5998;
    color: white;
  
}
/* Inicio do menu e submenu dinamico com html e css*/
.menu {
    margin: 0;
   
    
    padding: 0px;
    background-color: #333;
    
     
  }
.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px;   
  }
  
  .menu a:hover{
    background-color: #fff;
    color: #333;
    }

  .menu li{
list-style: none;
display: inline-block;  /*colocar o testo do li um ao lado do outro*/ 
padding: 10px;
}  
.submenu {
position: absolute;
display: none;
min-width: 50px;


}

.menu li:hover .submenu{
    display: block;

}
.submenu .menu li {
    display: block;


}

    
/* FInal do menu e submenu dinamico com html e css*/

.corpo {
    width: auto;   
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.corpo .imgphp {   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
        }
   
    

footer { /* Foi substituido a class do rodapé por a tag footer pois a mesmo é mais facil de manipular*/
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
background-color: black;
color: #fff;
}

p {
float: left;
width: 100px;

}




.imagem img {
       width: 100px;
    background-color: azure; 
}
.paragrafo {
    width: 400px;
    height: 200px;
    float: left;
    text-align: center;
    background-color: aliceblue;
    }
table {
    margin-left: 10px;
    float:left ;
    width: 300px;
    height: auto;
    }
  
.imagem {
    margin-left: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    float: left;
    background-color: aliceblue;
    }

.listaul {
margin-left: 10px;
width: 200px;
height: 200px;
float: left;

}

.listaol {
margin-left: 10px;
float: left;
width: 200px;
height: 200px;
background-color: aliceblue;
}

.formulario {
margin-left: 10px;
width: 200px;
height: 350px;
float: left;
}
iframe {
margin-top: 10px;
float: left;
width: 400px;
height: 400px;
}
.iframe {
    text-align: center;
    margin-top: 10px;
    float: left;
    width: 400px;
    height: 400px;
}

.onclic img{
width: 100px;
}

.onclic {
    margin-top: 10px;
    float: left;
    width: 400px;
    text-align: center;
}
.bordas{
    margin-left: 10px;
    float: left;
   
    width: 200px;
    height: 200px;
    color:black;
    border: 3px dotted red;
}
.bordas img {
border: solid 3px red;
width:100px;
}

.bordacirculo {
margin-left: 10px;
text-align: center;
float: left;
width: 200px;
height: 200px;
border-radius: 100px;
border: 3px solid red;  
}

.seletrormultiplo {
margin-left: 10px;
float: left;
width: 200px;
height: 200px;
border: 3px red solid;
}
span{
background-color: rgb(22, 207, 47);
}

.seletorhover {
margin-left: 10px;    
float: left;
background-color: aliceblue;
width: 200px;
height: 200px;
}

.seletorhover:hover {
background-color: #1bbd1b;
border: 1px solid red;
}

.seletorhover:hover strong{
    background-color: #16c7df;
    }

.modulo1exercicio {
    width: 100%;
    height: 100px;
    color: white;
    background-color: #3b5998;
}
.modulo1exerciciomenu {
    margin-top: 0;
    width: 100%;
    height: 100px;
    color: black;
    background-color: red;
    
    }
.exercicio1tabela {
    padding: 10px;
    white-space: nowrap;
    text-align: center;   

}
.menuexercicios {
    width: 100%;
    padding: 10px;
    background-color: #3b5998;
    display: flex;
   
    
}

.menuexercicios a {
color: #fff;
text-decoration: none;
padding: 10px;
}

.menuexercicios a:hover {
   
    background-color: #fff;
    color: #333;


}
  .exercicioposition { 
    border: 1px red solid;
    padding: 10px;
    width: 200px;
    height: 250px;  
    float: left;
background-color: aliceblue;
}

.positionteste {
    position: relative;
    left: 100px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: red;
}
.displaynoneeoutros{
    margin-left: 10px;   
    float: left;
    border: red 1px solid;
    background-color: aliceblue;
    width: 400px;
    height: 250px;
}
/* Inicio pagina de anotações modulo 1*/
/* Inicio Formatação de Texto */

.lementoflutuante{
margin: auto;
margin-top: 20px;
}
.lementoflutuante .texto{  
    width: auto;
    height: auto; 
    color: red; /*Muda a cor do Texto*/
    font-size: 20px; /*Muda o tamanho do texto*/
    font-family: Arial, Helvetica, sans-serif; /*Muda a forma da fonte*/
    text-align: center; /*Alinha o texto no centro ou onde preferir, esquerda, direita*/
    font-weight: bolder; /*negrito e afinar fonte adicionando valor em numero ou o stylo bolder*/
    text-decoration: underline; /*texto sublinhado*/
   /* text-transform: uppercase; Texto em caixa alta ou baixa de acordo com o que for selecionado*/
   white-space: nowrap; /* Faz com que a frase ocupe o tamanho total sem quebrar linha*/
}
/* Final Formatação de Texto */
/* inicio Criação do box*/
.lementoflutuante .box1{
    background-color: antiquewhite;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
/* Final Criação do box*/

.lementoflutuante .box1 p{
    margin-top: 10px;
    white-space: nowrap;
    color: red;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;   
}

/*.flutuante {
  position: absolute; O elemento fica parado na pagina e "some" ao mover a barra de rolagem da pagina
  position: fixed;  O elemento fica fixado na "Tela", idepende da movimentação da barra de rolagem
  OS comandos a baixo são utilizados para determinar o local que ficará o elemento flutuante
  top: 200px;
  left: 200px;
  bottom: 200px;
  height: 200px; 
}*/

/* Parei na aula 42 atenção*/